<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDspU2_xVFRCV9JZEe0wqjt84GEXF-ZIM0</string>
	<key>GCM_SENDER_ID</key>
	<string>575940520069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestore</string>
	<key>PROJECT_ID</key>
	<string>firestore-9c237</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-9c237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575940520069:ios:55d5a323e3442dc954a1ec</string>
</dict>
</plist>